<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.exapption.demo" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/profile_pic_128"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".ExapptionApplication">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name="com.exapption.androidsdk.push.ExapptionMessageReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="com.exapption.demo" />
            </intent-filter>
        </receiver>

        <receiver
            android:name="com.exapption.androidsdk.ui.ExapptionNotificationReceiver"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.exapption.demo.EXAPPTION_NOTIFICATION_RECEIVER"/>
            </intent-filter>
        </receiver>


        <service
            android:name="com.exapption.androidsdk.push.GCMIDListenerService"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID" />
            </intent-filter>
        </service>

        <meta-data android:name="com.exapption.config.appkey" android:value="0ff317f4-ad70-43ae-869d-417625147c1b" />
        <meta-data android:name="com.exapption.config.gcappid" android:value="@string/gcm_appid" />
    </application>
</manifest>
